[submodule "doublebeam-cpp/external/nanoflann"]
	path = external/nanoflann
	url = https://github.com/dariusarnold/nanoflann.git
[submodule "external/nanoflann"]
	path = external/nanoflann
	url = user:dariusarnold
