---
BasedOnStyle: LLVM
AccessModifierOffset: '-4'
AllowShortBlocksOnASingleLine: 'false'
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Always
AllowShortLoopsOnASingleLine: 'false'
AlwaysBreakTemplateDeclarations: 'Yes'
BreakBeforeBraces: Attach
ColumnLimit: '100'
ConstructorInitializerIndentWidth: '0'
IndentWidth: '4'
Language: Cpp
MaxEmptyLinesToKeep: '2'
NamespaceIndentation: All
PointerAlignment: Left

...
